<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>回答確認</title>
</head>
<body>
	<div id="container">
		<header>
			<a href="/"><img src="/assets/logo.png"/></a>
		</header>
		<div id="main">
			<div id="contents">
				<h1>お題その<%= @id %></h1>
				<img class="theme" src="/assets/お題<%= @id %>.png" />
				<%= form_tag( { controller: :comments, action: :complete}) do %>
				<div class="comfirm-area">回答：　<%= @comment %></div>
				<%= hidden_field_tag 'comment', @comment %>
				<div class="comfirm-area">名前：　<%= @name %></div>
				<%= hidden_field_tag 'name', @name %>
				<%= hidden_field_tag 'id', @id %>
				<%= submit_tag '投稿する', :class => "button" %>
				<% end %>
			</div>
		</div>
		<footer>
			<p id="copyright">Copyright (C) 2014 Shinta Inoue</p>
		</footer>
	</div>
</body>
</html>